.container {
    background-image: linear-gradient(#2D1032, #651F71);
    color: white;
    text-align: center;
}

.title {
    color: #FECF23;
}

.votacao {
    background-image: linear-gradient(to bottom, #2D1032, #651F71);
}

.esportes,
.simulacao,
.estrategia {
    border: linear-gradient(#2738DB, #352B8E) 10px solid;
    border-radius: 10px;
    display: inline-block;
    justify-content: center;
    background-image: linear-gradient(#3C5AEE, #74CFFF);
}